{{>header}}
<div class="card">
  <div class="me-container">
    <img class="me-img" src="./images/me.JPG" alt="me">
    <div class="text-section">
      <p>
        My name is Shadae. I grew up in Feilding as a kid and Masterton as a teenager, before moving Wellington for university. I initially wanted to get into the sciences but was really foggy on what area. I started university studying mathematics and psychology, then switched to biomedical science for next 3 years. I took a year away from study once my degree was completed to decide what I wanted to do, and decided that the career opportunities of coding really appealed to me.
        This is one of my personal projects completed throughout bootcamp in Dev Academy. I often have really weird dreams so wanted to create a site to keep track of them.
      </p>
    </div>
  </div>
</div>
{{>footer}}