{{>header}}
<br>
<div class="card">
<form action="/add" method="post" class="form">
  <div class="form-item">
    <label for="title">title:</label>
    <input type="text" name="title">
  </div>
  <div class="date-container">
    <p>date of dream:</p>
    <div class="form-item">
      <label for="date_day"></label>
      <input class="date-input" type="text" name="date_day" placeholder="day">
    </div>
    <div class="form-item">
      <label for="date_month"></label>
      <input class="date-input" type="text" name="date_month" placeholder="month">
    </div>
    <div class="form-item">
      <label for="date_year"></label>
      <input class="date-input" type="text" name="date_year" placeholder="year">
    </div>
  </div>
  <div class="date-container">
    <div class="form-item">
      <label for="themes">notable themes:</label>
      <textarea rows="4" name="themes"></textarea>
    </div>
    <div class="form-item">
      <label for="stories">key stories:</label>
      <textarea rows="4" name="stories"></textarea>
    </div>
    <div class="form-item">
      <label for="feelings">feelings:</label>
      <textarea rows="4" name="feelings"></textarea>
    </div>
  </div>
  <br>
  <button type="submit">send away</button>

</form>
</div>
<br>
{{>footer}}