@font-face {
  font-family: enterFont;
  src: url(./arcadeclassic/ARCADECLASSIC.TTF)
}

@font-face {
  font-family: titleFont;
  src: url(./Qanelas/QanelasSoftDEMO-ExtraBold.otf)
}

@font-face {
  font-family: bodyFont;
  src: url(./Qanelas/QanelasSoftDEMO-UltraLight.otf)
}

html {
  background-image: url('./images/cloud-gif.webp');
  text-align: center;
}

.enter-link {
  font-family: enterFont;
  font-size: 30px;
  background-color: #5d7599;
  color: #f7f0c6;
  text-decoration: none;
  text-align: center;
  height: 50px;
  width: 250px;
  padding-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.card {
  font-family: titleFont;
  font-size: 20px;
  background-color: #ABB6C8;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.dream {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: titleFont;
  color: #5d7599;
  background-color: #f7f0c6;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  font-size: 30px;
}

p {
  color: #f7f0c6;
}

h1 {
  background-color: #5d7599;
  border-radius: 5px;
  color: #f7f0c6;
  font-family: enterFont;
  height: 70px;
  width: 500px;
  padding-top: 20px;
  font-size: 50px;
  margin: auto;
}

h2 {
  background-color: #5d7599;
  border-radius: 5px;
  color: #f7f0c6;
  font-family: enterFont;
  height: 40px;
  width: 200px;
  padding-top: 15px;
  font-size: 20px;
  margin: auto;
}

.brain {
  max-width: 40px;
  background-color: #ABB6C8;
  padding-top: 5px;
}

input {
  background-color: #5d7599;
  color: #f7f0c6;
  border: none;
  height: 30px;
  width: 200px;
}

textarea {
  background-color: #5d7599;
  color: #f7f0c6;
  border: none;
  height: 80px;
  width: 200px;
}

label {
  color: #f7f0c6;
}

button {
  background-color: #5d7599;
  color: #f7f0c6;
  border: none;
  height: 50px;
  width: 200px;
  font-family: enterFont;
  font-size: 30px;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.date-input {
  background-color: #5d7599;
  color: #f7f0c6;
  border: none;
  height: 30px;
  width: 70px;
}

::placeholder {
  font-family: titleFont;
  color: #ABB6C8;
  text-align: center;
  font-size: 20px;
  padding-top: 2px;
}

.me-img {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  padding-left: 20px;
}

.me-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align:justify;
  padding-left: 20px;
}